<%= stylesheet_link_tag 'page1', media: 'all', 'data-turbo-track': 'reload' %>


<div class="container">
  <h1>料理の新規追加</h1>

  <%= form_with model: @recipe, local: true do |form| %>
    <div>
      <%= form.label :title, "料理名" %>
      <%= form.text_field :title %>
    </div>

    <div>
      <%= form.label :time, "所要時間（分）" %>
      <%= form.number_field :time %>
    </div>

    <div>
      <%= form.label :kcal, "カロリー（kcal）" %>
      <%= form.number_field :kcal %>
    </div>

    <div>
      <%= form.label :category, "種類" %>
      <%= form.text_field :category %>
    </div>

    <div>
    <%= form.label :ingredients, "材料（改行区切りで入力）" %>
    <%= form.text_area :ingredients, rows: 5 %>
  </div>

  <div>
    <%= form.label :procedures, "作り方（改行区切りで入力）" %>
    <%= form.text_area :procedures, rows: 5 %>
  </div>

    <%= form.submit "追加" %>
  <% end %>
</div>